<div id="typeScreen">
	<div class="subHeaderTxt padding5 keywordNoWrap">"{{keyword}}"</div>
	<div class="subHeaderTxt paddingno5">does not have a type.</div>
	<div class="cBodyTxt center padding5">Please select a type for this keyword which best describes it:</div>
	<div class="typeItem" type="events"><div class="fa fa-calendar"></div>EVENTS</div>
	<div class="typeItem noBorder" type="locations"><div class="fa fa-map-marker"></div>PLACES</div>
	<div class="typeItem" type="people"><div class="fa fa-users"></div>PEOPLE</div>
	<div class="typeItem bottomBorder" type="entities"><div class="fa fa-truck"></div>ENTITIES</div>
	<div class="typeItem bottomBorder" type="favorites"><div class="fa fa-star-o"></div>FAVORITES</div>
	<div class="link toggleReset padding15">Back to application</div>		
</div>