<div id="fsParentDiv">	
	<!-- <div id="leftArrow" class="fsArrow"><img class="arrowL"></div> -->
	<!-- <div id="rightArrow" class="fsArrow"><img class="arrowR"></div> -->
	<div id="fsScrollWrapper"><div id="fullScreenItems"></div></div>
	<div id="fsOptsDiv">
		<div id="collapseBtn" class="optBtn"><img class="collapse"></div>
<!-- 		<div id="shareBtn" class="optBtn"><img class="shareSrc"></div> -->
<!-- 		<div id="favBtn" class="optBtn"><img class="favoriteSrc"></div> -->
<!-- 		<div id="tagBtn" class="optBtn"><img class="tagSrc"></div> -->
<!-- 		<div id="infoBtn" class="optBtn"><img class="infoSrc"></div> -->
<!-- 		<div id="trashBtn" class="optBtn"><img class="trashSrc"></div> -->
	</div>
</div>